{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

  
	
  <div class="container marketing p-5">

	<h1 class="my-3 border-bottom pb-3 text-center text-info">Login</h1>
	<div class="mb-3">
	<a class="p-3" >
	<table class="table table-bordered text-primary">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
			<a class="text-center" >
				<td colspan="2">
					<a class="px-5" ></a><a class="px-5" ></a><a class="px-5" ></a>
					<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-box-arrow-in-right h3" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
					<path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					</svg>
					<input type="submit" value="Login" class="btn btn-primary p-2 px-5 float-right h3  rounded-3" />
				</td>
			</a>
			</tr>
		</form>
	</table>
	</div>
	<a class="p-3" >
	<hr />
	<a class="p-3" >
	<p class="text-center" ><a href="#"  class="btn btn-danger px-5 p-2 rounded-3"><b>Forget Password</b></a></p>
	<a class="p-3" >
	<p class="text-center"> <a href="{% url 'signup' %}" class="btn btn-secondary px-5 p-2 rounded-3">
	<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
	<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
	<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
	</svg>
	<b>Signup here</b></a>.</p>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">


</main>

{% endblock %}