{% extends 'base-seller.html' %}
{% load static %}
{% block content %}

<main>

  
	
  <div class="container marketing p-5">
	<table class="table table-bordered table-hover">
		<thead class="text-info" >
			<tr>
				<th>Product List</th>
				<th>Quantity</th>
				<th>Delete</th>
				
			</tr>
		</thead>
		<tbody class="text-dark table-success" >	
		
		
		{% for data in datas %}
			<tr>
				<td>
					<img src="/media/{{data.b_img}}" class="rounded-3" height="100" width="100" />
					<p><a  class="text-dark px-3 h6" href="offer/{{data.id}}">{{data.b_name}}</a></p>
				</td>
				<td class="p-5">
				
				{{data.b_qty}}
					
				</td>

				<td>
				<form action="{% url 'delete-bid-list' data.id %}" >
					<button class="btn btn-sm btn-danger" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
					<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
					</svg></button>
					</form>
				</td>
			
			</tr>
		{% endfor %}

			
		</tbody>
		
	</table>
	</div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
	
</main>
{% endblock %}